/* .navbar {
  justify-content: center;
  align-items: center;
}
.active {
  font-weight: bold;
  border-bottom: #57b2ba 2px solid;
}
.nav-link {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #dbdbdb;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #57b2ba;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
} */

nav {
  --underline-height: 0.5em;
  --transition-duration: 0.5s;
  position: relative;
  white-space: nowrap;
  padding: var(--underline-height) 0;
}

.underline {
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  height: var(--underline-height);
  width: 140px;
  transition: transform var(--transition-duration) ease-in-out;
}
.a-link {
  min-width: 60px;
  text-align: center;
  margin: 0 30px;
  padding-bottom: 18px;
  padding-top: 30px;
  text-align: center;
  cursor: pointer;
}
nav.black .underline {
  border-radius: 0.25em;
  height: calc(var(--underline-height) / 2);
  mix-blend-mode: initial;
}
